body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #000000;
}

.banner {
    background-color: #2386d6;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    font-family: Helvetica;
    margin: 0;
    font-size: 32px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    padding: 12px 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #1b1b1b;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    min-width: 150px;
    top: 40px;
    border-radius: 5px;
    padding: 0;
}

.dropdown-content li a {
    padding: 10px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: #1b1b1b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media all {
    body {
        color: #000000;
    }
}

@media print {
    body {
        background-color: #ffffff;
    }
}
